<html>
<head>
  <title>Welcome to our team build radiator</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

  <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
  <div class="container-fluid">
    <div class="page-header">
      <h1>Our team Pipeline <small>our team</small></h1>
    </div>
    <% @pipelines.each_with_index do |pipeline, index| %>
      <div class="row">
        <div class="panel panel-default">
          <div class="panel-body">
            <h3><%= pipeline[:name] %></h3>
            <div class="stages">
              <div class="col-md-1">
                <div class="panel panel-default">
                  <div class="panel-body">
                    Revision #<%= pipeline[:revision] %>
                  </div>
                </div>
              </div>
              <% pipeline[:jobs].each do |job| %>
                <div class="col-md-2">
                  <div class="panel panel-default">
                    <div class="panel-body">
                      <%= job[:name] %>
                      <div class="progress">
                        <div class="progress-bar progress-bar-<%= job[:last_build] %>" role="progressbar" style="width: <%= "100%" if job[:ran]%>">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</body>
</html>
